.youtube__lasg{
    width: 90%;
    height: 550px;
    border-radius: 10px;
    background-color: #eee;
}

.socials__skin{

    .other__socials{

        .social__tabs{

            .social__icons{

                height: 60px;
                width: 60px;
                overflow: hidden;
                cursor: pointer;

                img{
                    width: 100%;
                }
            }
        }
    }
}