.vault{

    padding-top: 0px;
    padding-bottom: 70px;

    .doc{
        
        display: flex;
        gap: 40px;
        padding: 20px;
        color: #131313;

        .doc__icon{
            width: 45px;
            height: 45px;
        }

        .doc__title{
            width: 35%;
        }

        .doc__category{
            width: 20%;
        }

        .doc__date{
            width: 20%;
        }

        .doc__action{
            width: 15%;
        }

    }

    .doc__top{

        font-size: 11px;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 600;
        background-color: #f9f9f9;
        align-items: center;

        .doc__icon{
            width: 45px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

    }

    .doc__body{

        font-size: 14px;
        line-height: 20px;
        align-items: center;
        margin-top: 0px;
        border-bottom: 1px solid #eee;
        margin-bottom: 0px;
        padding-bottom: 20px;

        &:hover{
            .doc__title{
                text-decoration: underline;
            }
        }
        
        &:last-child{
            border: none;
        }

        .doc__title{
            line-height: 23px;
            align-items: center;
        }

        .doc__icon{

            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
            height: 40px;

            img{
                width: 80%;
                height: 80%;
                object-fit: contain;
            }
        }

        .doc__title{
            padding-right: 20px;
            font-weight: 600;
        }

        .doc__action{
            
            .form__button{

                align-items: center;
                background-color: rgb(232, 241, 232); 
                width: max-content;
                gap: 10px; 
                padding: 10px 20px;
                border-radius: 5px;
                color: green;
                font-weight: 600;
                cursor: pointer;

            }

        }
    }

}

@media(max-width : 1100px){

    .vault{
        margin-top: 50px;
    }

}

@media(max-width : 900px){

    .vault{
        
        .doc__top, .doc__category, .doc__date{
            display: none;
        }

        .doc__body{
            padding-left: 0;
            .doc__title{
                width: 70%;
                align-items: center;
            }
        }

    }

}

@media(max-width : 600px){

    .vault{

        margin-top: 30px;
        
        .doc__top, .doc__category, .doc__date, .doc__action{
            display: none;
        }

        .doc__body{
            padding-left: 0;
            .doc__title{
                width: 100%;
                align-items: center;
            }
        }

    }

}