.dashboardHeader{

    width: calc(100% - 280px);
    border-bottom: 1px solid #eee;
    padding: 0 50px;
    float: right;

}

.dashboardPages{

    width: calc(100% - 280px);
    padding: 0 50px;
    float: right;
    margin-top: 25px;
    padding-bottom: 80px;

}